.footer {
  margin-top: 0px;
  padding: 10px 20px;
  background: #0f0f0f;
  border-top: 1px solid #222;
  color: #aaa;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.content p {
  margin: 0;
  font-size: 14px;
}

.sub {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  opacity: 0.6;
}